mixin footer(data)
	- data = data || {}
	-
		var copyText = '© 2023 Copyright'


	.footer
		.container
			.footer__top
				.footer__logo
					a.logo-site(href="/")
						//- .logo-inner
						img(src=`${pathPrefix}img/logos/logo-new_white.svg`, alt="", width="220" height="66")
						//- img(src=`${pathPrefix}img/logos/logo_white.svg`, alt="", width="140" height="48")
							//- | MNY
					.footer-union
						.socials
							a(href="#")
								+icon('fb')
							a(href="#")
								+icon('insta')
							a(href="mailto:yaksvyatkuvaly@gmail.com")
								+icon('mail')
						.footer-contact
							a.btn.btn_transparent(href="/contact")
								span Контактна форма
				.footer__info
					ul.footer__list
						li.footer__item
							.top Координатор проекту
							a.bottom(href="#") Світлана Коновалова
						li.footer__item
							.top Мати-засновниця
							a.bottom(href="#") Галина Лукʼянець

				.footer__founders.fFounders
					a.fFounders__ucf.js-tooltipster-top(href="https://ucf.in.ua" title="За підтримки Українського Культурного Фонду" target="_blank")
						img(src=`${pathPrefix}img/logos/ucf_logo_ua.svg`, alt="", width="121" height="90")

					a.fFounders__host.js-tooltipster-top(href="https://hostiq.ua/" title="Технічний партнер" target="_blank")
						img(src=`${pathPrefix}img/logos/hostiq.svg`, alt="", width="145" height="34")

					a.fFounders__seif.js-tooltipster-top(href="#" title="Організаційний партнер" target="_blank")
						img(src=`${pathPrefix}img/logos/seif.svg`, alt="", width="70" height="34")

					a.fFounders__center.js-tooltipster-top(href="https://cultura.kh.ua" title="Організаційний партнер" target="_blank")
						img(src=`${pathPrefix}img/logos/logo-center.svg`, alt="", width="155" height="44")

					a.fFounders__umni.js-tooltipster-top(href="https://www.umnikey.com" title="Технічний партнер" target="_blank")
						img(src=`${pathPrefix}img/logos/logo-umnikey.svg`, alt="", width="155" height="33")


		.footer__bottom
			.container
				.footer__copy!=copyText
				.footer__designed
					ul
						li
							span Дизайн:
							a(href="#") Designwork
						li
							span Розробка:
							a(href="#") Designwork
						li
							span Ілюстрації:
							a(href="#") Designwork
