mixin tags()
	.categories__tags.tags&attributes(attributes)
		.tags__inner
			button.tag.tag_reset: span.text Скинути всі
			button.tag.tag_text
				+icon('text').icon
				span.text паска
				+icon('close').icon-close
			button.tag.tag_map
				+icon('marker').icon
				span.text Балаклія
				+icon('close').icon-close
			button.tag.tag_category
				+icon('category').icon
				span.text Ворожіння на Андрія
				+icon('close').icon-close
			button.tag.tag_category
				+icon('category').icon
				span.text Родинні Традиції
				+icon('close').icon-close
			button.tag.tag_category
				+icon('category').icon
				span.text Передвесільні обряди
				+icon('close').icon-close


mixin rubric(title,child=true)
	-
		let id = generateUniqueHash()
	if child
		.rubricator__item
			.rubricator__top.js-category(data-name='categoryName')
				label.rubricator__checkbox
					input(type="checkbox", name=`rubricator_${id}`, id=`rubricator_${id}`)
					span.pseudo
				.rubricator__title= title
				.rubricator__num 125
				button.rubricator__btn(type="button")
			.rubricator__child
				block
	else
		.rubricator__item
			.rubricator__top.js-category(data-name='categoryName')
				label.rubricator__checkbox
					input(type="checkbox", name=`rubricator_${id}`, id=`rubricator_${id}`)
					span.pseudo
				.rubricator__title= title
				.rubricator__num 25


mixin rubricator()
	article
		.container
			.categories#categoriesWrapper
				.categories__inner
					h2.h1.categories__title
						.desktop-visible Пошук та рубрикатор
						.mobile-visible Рубрикатор
						.categories_changeView
							button.btn.is-active(type="button" aria-label="Змінити вигляд" data-view="list")
								+iconWithTooltip('list','Показувати по 5 оповідей скороченo', '', 'js-tooltipster-min')
									p Показувати по 5 оповідей скороченo
							button.btn(type="button" aria-label="Змінити вигляд" data-view="one")
								+iconWithTooltip('one_of_list','Показувати по 1 оповіді повністю', '', 'js-tooltipster-min')
									p Показувати по 1 оповіді повністю
					form.categories__left.sidebar#form-search
						.sidebar__inner
							.sidebar__search.search
								input#search.search__input(type="text", name="search", placeholder="Пошук за текстом")
								button.search__btn(type="submit")
									+icon('search')
							-
								var cs = {
									searchable: true,
									defaultSelected: false,
									placeholder: 'Обрати Локацію',
									groups: true,
									id: 'input-places',
									multiple: true,
									arr: PLACES_GROUPPED,
								}
							.sidebar__places
								+customSelect(cs).js-custom-select.wide(id='places')


							label.sidebar__audio
								span.sidebar__audio-text Є аудіофайл
								input.sidebar__audio-input(type="checkbox", name="audio", id="audio")
								span.pseudo




							button.btn.btn_mobile-filter.js-modal-filter
								span Категорії

							.sidebar__rubricator.rubricator
								.rubricator__inner
									.rubricator__top-part
										button.rubricator__back-link.js-rubricator-back
											+icon('arrow-back')
										.rubricator__title-general.r-title
											.r-title__inner.js-rubricator-title
												span.r-title__original Оберіть рубрики
												span.r-title__child Test
										+tags().rubricator__tags


									.rubricator__scroll-part
										+rubric('Народний Календар')
											+rubric('Календар 1')
												+rubric('sub Календар 1 1')
													+rubric('Щедрий вечiр (Щедрий святвечiр)б Меланки', false)
													+rubric('sub sub Календар 1 1 2', false)
											+rubric('Календар 2', false)
											+rubric('Календар 3', false)
										+rubric('Родинні Традиції')
											+rubric('Весілля')
												+rubric('Передвесільні обряди', false)
												+rubric('Весільна неділя')
													+rubric('Весільни чини', false)
													+rubric('Обсипання', false)
													+rubric('“світильник” (“меч”, “шабля”)', false)
											+rubric('Вагітність', false)
										+rubric('Народний Календар')
											+rubric('Календар 1')
												+rubric('sub Календар 1 1', false)
												+rubric('sub Календар 1 2', false)
											+rubric('Календар 2', false)
											+rubric('Календар 3', false)
										+rubric('Родинні Традиції')
											+rubric('Весілля')
												+rubric('Передвесільні обряди', false)
												+rubric('Весільна неділя')
													+rubric('Весільни чини', false)
													+rubric('Обсипання', false)
													+rubric('“світильник” (“меч”, “шабля”)', false)
											+rubric('Вагітність', false)

									.rubricator__bottom-part
										button.btn.btn_transparent.js-rubricator-reset(type="button")
											span Скинути
										button.btn.btn_main.js-rubricator-apply(type="button")
											span Застосувати


					.categories__right
						+tags().result__tags

						.categories__result.result
							ul.result__inner
								li.result__listItem
									section.result__item
										h3.h2.result__title Як вмер дід на Купала
										.result__place с. Чабонівка
										.result__text
											p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maiores, ipsa obcaecati dolore excepturi culpa, laborum id, vitae odit accusantium sunt harum qui nihil repellendus laboriosam aliquam magnam officia nobis.
										.result__link
											a(href="#")
												span Читати далі
												+icon('arrow-right')
								li.result__listItem
									section.result__item
										h3.h2.result__title Як вмер дід на Купала
										.result__place с. Чабонівка
										.result__text
											p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maiores, ipsa obcaecati dolore excepturi culpa, laborum id, vitae odit accusantium sunt harum qui nihil repellendus laboriosam aliquam magnam officia nobis.
										.result__link
											a(href="#")
												span Читати далі
												+icon('arrow-right')
								li.result__listItem
									section.result__item
										h3.h2.result__title Як вмер дід на Купала
										.result__place с. Чабонівка
										.result__text
											p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maiores, ipsa obcaecati dolore excepturi culpa, laborum id, vitae odit accusantium sunt harum qui nihil repellendus laboriosam aliquam magnam officia nobis.
										.result__link
											a(href="#")
												span Читати далі
												+icon('arrow-right')

							ul.result__pagination.pagination
								li.pagination__item.pagination__item_active
									a(href="#") 1
								li.pagination__item
									a(href="#") 2
								li.pagination__item
									a(href="#") 3

	script.
		// just for example
		document.querySelectorAll('.categories_changeView .btn').forEach(el=>{
			el.addEventListener('click', function(e) {
				const view = e.currentTarget.dataset.view;
				if(!view) return;
				document.querySelector('.categories_changeView .is-active').classList.remove('is-active');
				e.currentTarget.classList.add('is-active');
				document.querySelector('.categories').dataset.view = view;
			});
		})
