include ../mixins/index
include ../components/index

//- -
//- 	var PLACES = [
//- 			" м. Ізюм, Ізюмський район",
//- 			" м. Балаклія, Балаклійський район",
//- 			" Новий Бурлук, Чугуївський район",
//- 			" с. Іванівка, Ізюмський район",
//- 			" с. Іванівка, Чаплинський район",
//- 			" с. Абазівка, Зачепилівський район",
//- 			" с. Артемівка, Чугуївський район",
//- 			" с. Багата Чернещина, Сахновщинський район",
//- 			" с. Балтазарівка, Чаплинський район",
//- 			" с. Басове, Золочівський район",
//- 			" с. Березівка, Борисівський район ",
//- 			" с. Берестовенька, Красноградський район",
//- 			" с. Будне, Охтирський район",
//- 			" с. Бузове (Перша Бузова), Вовчанський район",
//- 			" с. Вʼязова, Краснокутський район",
//- 			" с. Варварівка, Бєлгородський район",
//- 			" с. Велика Гомільша, Зміївський район",
//- 			" с. Вишневе, Валківський район",
//- 			" с. Гасенки, Миргородський район",
//- 			" с. Геніївка, Зміївський район",
//- 			" с. Гетьманівка, Шевченківський район",
//- 			" с. Гракове, Чугуївський район",
//- 			" с. Грузьке, Борисівський район",
//- 			" с. Грушуваха, Барвінківський район",
//- 			" с. Дворічне, Дворічанський район",
//- 			" с. Дворічний Кут, Дергачівський район",
//- 			" с. Деревки, Котелевський район",
//- 			" с. Дмитрівка, Первомайський район",
//- 			" с. Добровілля, Близнюківський район",
//- 			" с. Добропілля, Валківський район",
//- 			" с. Дорошівка, Дворічанський район",
//- 			" с. Другий Лиман, Дворічанський район",
//- 			" с. Духовниче, Охтирський район",
//- 			" с. Жовтневе (Богданівське), Дворічанський район",
//- 			" с. Задонецьке, Зміївський район",
//- 			" с. Залиман, Балаклійський район",
//- 			" с. Калинове, Борівський район",
//- 			" с. Катеринівка, Лозівський район",
//- 			" с. Киселі, Первомайський район",
//- 			" с. Клюшниківка, Миргородський район",
//- 			" с. Козача Лопань, Дергачівський район",
//- 			" с. Корбині Івани, Богодухівський район",
//- 			" с. Костянтинівка, Сахновщинський район",
//- 			" с. Кручик, Богодухівський район",
//- 			" с. Крячківка, Пирятинський район",
//- 			" с. Куземин, Охтирський район",
//- 			" с. Кунцеве, Новосанжарський район",
//- 			" с. Кутьківка, Дворічанський район",
//- 			" с. Лантратівка, Охтирський район",
//- 			" с. Лиман, Зміївський район",
//- 			" с. Лиман, кут Кучерівка, Зміївський район",
//- 			" с. Любимівка Каховський район",
//- 			" с. Лютенські Будища, Зіньківський район",
//- 			" с. Максимівка, Сахновщинський район",
//- 			" с. Матяшівка, кут Кут, Великобагачанський район ",
//- 			" с. Матяшівка, кут Ліски, Великобагачанський район",
//- 			" с. Матяшівка, кут Центр, Великобагачанський район ",
//- 			" с. Мельникове, Валківський район",
//- 			" с. Мечнікове, Дворічанський район",
//- 			" с. Миколаївка, Дворічанський район",
//- 			" с. Миколаївка, Лозівський район",
//- 			" с. Михайлівка, Котелевський район",
//- 			" с. Моначинівка, Куп'янський район",
//- 			" с. Морозівка, Балаклійський район",
//- 			" с. Мохнач, Зміївський район",
//- 			" с. Нова Чернещина, Сахновщинський район",
//- 			" с. Новий Мерчик, Валківський район",
//- 			" с. Новомиколаївка Шевченківський район",
//- 			" с. Огіївка, Сахновщинський район",
//- 			" с. Одноробівка, Золочівський район",
//- 			" с. Одрадне, Дворічанський район",
//- 			" с. Олександрівка, Валківський район",
//- 			" с. Очеретове, Валківський район",
//- 			" с. Очкине, Середино-Будський район",
//- 			" с. Піски-Радьківські, Борівський район",
//- 			" с. Петрівське (Петровское), Балаклійський район",
//- 			" с. Петропілля, Лозівський район",
//- 			" с. Плоске, Великобурлуцький район",
//- 			" с. Польова, Дергачівський район",
//- 			" с. Правда (Комправда), Первомайський район",
//- 			" с. Рачівка, Чаплинський район",
//- 			" с. Рубани, Охтирський район",
//- 			" с. Рябина, Великописарівський район",
//- 			" с. Сковородинівка, Золочівський район",
//- 			" с. Скрипаї, Зміївський район",
//- 			" с. Софіївка Каховський район",
//- 			" с. Стригуни, Борисівський район",
//- 			" с. Строганівка, Чаплинський район",
//- 			" с. Тавільжанка, Дворічанський район",
//- 			" с. Терни, Лубенський район",
//- 			" с. Тернова (Терновая), Харківський район",
//- 			" с. Тернуватка, Сахновщинський район",
//- 			" с. Устивиця, Великобагачанський район",
//- 			" с. Хотмизьк, Борисівський район",
//- 			" с. Чемужівка, Зміївський район",
//- 			" с. Чепіль, Балаклійський район",
//- 			" с. Черкаська Лозова, Харківський район",
//- 			" с. Чернещина, Краснокутський район",
//- 			" с. Шарівка, Валківський район",
//- 			" с. Шелудьківка, Зміївський район",
//- 			" с. Яковенкове, Балаклійський район",
//- 			" с. Ясенове, Охтирський район",
//- 			" сел. Велика Данилівка, м. Харків",
//- 			" сел. Печеніги, Чугуївський район",
//- 			" смт Гоголеве, Великобагачанський район",
//- 			" смт Гоголеве, хутір Марченки, Великобагачанський район ",
//- 			" смт Дворічна, Дворічанський район",
//- 			" смт Котельва, Котелевський район",
//- 			" смт Краснокутськ, Краснокутський район",
//- 			" смт Чкаловське, Чугуївський район"
//- 		]

//- global variables
-
	var pathPrefix = 'assets/';
	var description = 'Description';
	var pageClass = '';
	var pageName = '';
	var $LOCALE = 'ua';
	var title = 'ProjectName';
	var headerVisible = true;
	var footerVisible = true;



-
	var GENRES = [
		{
			"value": "28",
			"text": "Балада"
		},
		{
			"value": "45",
			"text": "Бурлацька"
		},
		{
			"value": "54",
			"text": "Буряшна"
		},
		{
			"value": "43",
			"text": "Великодня"
		},
		{
			"value": "15",
			"text": "Весільна"
		},
		{
			"value": "7",
			"text": "Веснянка"
		},
		{
			"value": "35",
			"text": "Голосіння"
		},
		{
			"value": "48",
			"text": "Гра"
		},
		{
			"value": "63",
			"text": "Жалібна"
		},
		{
			"value": "36",
			"text": "Жартівлива"
		},
		{
			"value": "8",
			"text": "Жнивна"
		},
		{
			"value": "19",
			"text": "Забавлянка"
		},
		{
			"value": "55",
			"text": "Загадка"
		},
		{
			"value": "53",
			"text": "Закличка"
		},
		{
			"value": "65",
			"text": "Замовляння"
		},
		{
			"value": "34",
			"text": "Інструментальна музика"
		},
		{
			"value": "56",
			"text": "Інформація"
		},
		{
			"value": "29",
			"text": "Історична"
		},
		{
			"value": "14",
			"text": "Коза"
		},
		{
			"value": "5",
			"text": "Козацька"
		},
		{
			"value": "26",
			"text": "Колгоспна"
		},
		{
			"value": "18",
			"text": "Колискова"
		},
		{
			"value": "12",
			"text": "Колядка"
		},
		{
			"value": "10",
			"text": "Купальська"
		},
		{
			"value": "60",
			"text": "Лічилка"
		},
		{
			"value": "41",
			"text": "Маснична"
		},
		{
			"value": "64",
			"text": "Молитва"
		},
		{
			"value": "51",
			"text": "Моряцька"
		},
		{
			"value": "20",
			"text": "Наймитська"
		},
		{
			"value": "9",
			"text": "Петрівчана"
		},
		{
			"value": "4",
			"text": "Пісні з особистого та родинного життя"
		},
		{
			"value": "38",
			"text": "Пісня літературного походження"
		},
		{
			"value": "46",
			"text": "Посівальна"
		},
		{
			"value": "61",
			"text": "Постова"
		},
		{
			"value": "59",
			"text": "Приказка"
		},
		{
			"value": "31",
			"text": "Приспівки до танців"
		},
		{
			"value": "30",
			"text": "Псальма"
		},
		{
			"value": "22",
			"text": "Рекрутська"
		},
		{
			"value": "37",
			"text": "Романс"
		},
		{
			"value": "42",
			"text": "Сирітська"
		},
		{
			"value": "24",
			"text": "Солдатська"
		},
		{
			"value": "25",
			"text": "Строкова"
		},
		{
			"value": "39",
			"text": "Сучасна пісня та новотвір"
		},
		{
			"value": "44",
			"text": "Танець"
		},
		{
			"value": "3",
			"text": "Триндички"
		},
		{
			"value": "62",
			"text": "Троїцька"
		},
		{
			"value": "27",
			"text": "Тюремна"
		},
		{
			"value": "58",
			"text": "Частівка"
		},
		{
			"value": "6",
			"text": "Чумацька"
		},
		{
			"value": "11",
			"text": "Щедрівка"
		}
	]
	var MOTIVES = [
		{
			"value": "31",
			"text": "Важка праця"
		},
		{
			"value": "1",
			"text": "Вбивство"
		},
		{
			"value": "4",
			"text": "Весілля"
		},
		{
			"value": "5",
			"text": "Війна"
		},
		{
			"value": "6",
			"text": "Військові походи, бої"
		},
		{
			"value": "7",
			"text": "Вірність"
		},
		{
			"value": "39",
			"text": "Ворожіння"
		},
		{
			"value": "35",
			"text": "Дорога, мандрівка"
		},
		{
			"value": "8",
			"text": "Дошлюбні стосунки"
		},
		{
			"value": "2",
			"text": "Життя вдови"
		},
		{
			"value": "9",
			"text": "Залицяння, сватання"
		},
		{
			"value": "10",
			"text": "Зрада"
		},
		//- {
		//- 	"value": "37",
		//- 	"text": "Інцест"
		//- },
		//- {
		//- 	"value": "11",
		//- 	"text": "Кохання"
		//- },
		//- {
		//- 	"value": "12",
		//- 	"text": "Нещаслива доля"
		//- },
		//- {
		//- 	"value": "13",
		//- 	"text": "Нещасливе кохання"
		//- },
		//- {
		//- 	"value": "38",
		//- 	"text": "Отруєння"
		//- },
		//- {
		//- 	"value": "14",
		//- 	"text": "Перелюб"
		//- },
		//- {
		//- 	"value": "15",
		//- 	"text": "Пияцтво, гуляння"
		//- },
		//- {
		//- 	"value": "16",
		//- 	"text": "Побратимство"
		//- },
		//- {
		//- 	"value": "18",
		//- 	"text": "Позашлюбна дитина"
		//- },
		//- {
		//- 	"value": "19",
		//- 	"text": "Потопання"
		//- },
		//- {
		//- 	"value": "20",
		//- 	"text": "Прийом до війська"
		//- },
		//- {
		//- 	"value": "21",
		//- 	"text": "Примусове одруження"
		//- },
		//- {
		//- 	"value": "22",
		//- 	"text": "Прокльон"
		//- },
		//- {
		//- 	"value": "25",
		//- 	"text": "Прощання, розставання"
		//- },
		//- {
		//- 	"value": "36",
		//- 	"text": "Ревнощі"
		//- },
		//- {
		//- 	"value": "23",
		//- 	"text": "Родинне життя"
		//- },
		//- {
		//- 	"value": "24",
		//- 	"text": "Розлука"
		//- },
		//- {
		//- 	"value": "26",
		//- 	"text": "Самогубство"
		//- },
		//- {
		//- 	"value": "27",
		//- 	"text": "Сирітське життя"
		//- },
		//- {
		//- 	"value": "28",
		//- 	"text": "Сільськогосподарська робота"
		//- },
		//- {
		//- 	"value": "29",
		//- 	"text": "Служба у війську"
		//- },
		//- {
		//- 	"value": "30",
		//- 	"text": "Смерть"
		//- },
		//- {
		//- 	"value": "40",
		//- 	"text": "Статеве життя"
		//- },
		//- {
		//- 	"value": "32",
		//- 	"text": "Хвороба"
		//- },
		//- {
		//- 	"value": "33",
		//- 	"text": "Чари"
		//- },
		//- {
		//- 	"value": "34",
		//- 	"text": "Чужина"
		//- },
		//- {
		//- 	"value": "17",
		//- 	"text": "Шлюбні стосунки"
		//- }
	]
	var STATES = [
		{
			"value": "1",
			"text": "Бєлгородська"
		},
		{
			"value": "3",
			"text": "Полтавська"
		},
		{
			"value": "4",
			"text": "Сумська"
		},
		{
			"value": "2",
			"text": "Харківська"
		},
		{
			"value": "5",
			"text": "Херсонська"
		}
	]
	var REGIONS = [
		{
			"value": "4",
			"text": "Нижня Наддніпрянщина"
		},
		{
			"value": "5",
			"text": "Північне Причорноморʼя"
		},
		{
			"value": "2",
			"text": "Полтавщина"
		},
		{
			"value": "1",
			"text": "Слобожанщина"
		},
		{
			"value": "3",
			"text": "Східне Полісся"
		}
	]
	var PLACES_GROUPPED = [
		{
			"optgroup": "Полтавська область",
			"list": [
				{
					"value": "77",
					"text": "м. Балаклія, Балаклійський район"
				},
				{
					"value": "52",
					"text": "м. Ізюм, Ізюмський район"
				},
				{
					"value": "108",
					"text": "Новий Бурлук, Чугуївський район"
				},
				{
					"value": "114",
					"text": "с. Абазівка, Зачепилівський район"
				},
				{
					"value": "39",
					"text": "с. Артемівка, Чугуївський район"
				},
				{
					"value": "54",
					"text": "с. Багата Чернещина, Сахновщинський район"
				},
				{
					"value": "120",
					"text": "с. Балтазарівка, Чаплинський район"
				},
				{
					"value": "49",
					"text": "с. Басове, Золочівський район"
				},
			]
		},
		{
			"optgroup": "Миргородьский район",
			"list": [
				{
					"value": "5",
					"text": "с. Березівка, Борисівський район"
				},
				{
					"value": "42",
					"text": "с. Берестовенька, Красноградський район"
				},
				{
					"value": "73",
					"text": "с. Будне, Охтирський район"
				},
				{
					"value": "101",
					"text": "с. Бузове (Перша Бузова), Вовчанський район"
				},
				{
					"value": "22",
					"text": "с. Вʼязова, Краснокутський район"
				},
				{
					"value": "90",
					"text": "с. Варварівка, Бєлгородський район"
				},
			]
		},
		{
			"optgroup": "Новосанжирський район",
			"list": [
				{
					"value": "5",
					"text": "с. Березівка, Борисівський район"
				},
				{
					"value": "42",
					"text": "с. Берестовенька, Красноградський район"
				},
				{
					"value": "73",
					"text": "с. Будне, Охтирський район"
				},
				{
					"value": "101",
					"text": "с. Бузове (Перша Бузова), Вовчанський район"
				},
				{
					"value": "22",
					"text": "с. Вʼязова, Краснокутський район"
				},
				{
					"value": "90",
					"text": "с. Варварівка, Бєлгородський район"
				},
			]
		},
		{
			"value": "60",
			"text": "с. Велика Гомільша, Зміївський район"
		},
		{
			"value": "43",
			"text": "с. Вишневе, Валківський район"
		},

	]
	var PLACES = [
		{
			"value": "77",
			"text": "м. Балаклія, Балаклійський район"
		},
		{
			"value": "52",
			"text": "м. Ізюм, Ізюмський район"
		},
		{
			"value": "108",
			"text": "Новий Бурлук, Чугуївський район"
		},
		{
			"value": "114",
			"text": "с. Абазівка, Зачепилівський район"
		},
		{
			"value": "39",
			"text": "с. Артемівка, Чугуївський район"
		},
		{
			"value": "54",
			"text": "с. Багата Чернещина, Сахновщинський район"
		},
		{
			"value": "120",
			"text": "с. Балтазарівка, Чаплинський район"
		},
		{
			"value": "49",
			"text": "с. Басове, Золочівський район"
		},
		{
			"value": "5",
			"text": "с. Березівка, Борисівський район"
		},
		{
			"value": "42",
			"text": "с. Берестовенька, Красноградський район"
		},
		{
			"value": "73",
			"text": "с. Будне, Охтирський район"
		},
		{
			"value": "101",
			"text": "с. Бузове (Перша Бузова), Вовчанський район"
		},
		{
			"value": "22",
			"text": "с. Вʼязова, Краснокутський район"
		},
		{
			"value": "90",
			"text": "с. Варварівка, Бєлгородський район"
		},
		{
			"value": "60",
			"text": "с. Велика Гомільша, Зміївський район"
		},
		{
			"value": "43",
			"text": "с. Вишневе, Валківський район"
		},
		//- {
		//- 	"value": "20",
		//- 	"text": "с. Гасенки, Миргородський район"
		//- },
		//- {
		//- 	"value": "14",
		//- 	"text": "с. Геніївка, Зміївський район"
		//- },
		//- {
		//- 	"value": "96",
		//- 	"text": "с. Гетьманівка, Шевченківський район"
		//- },
		//- {
		//- 	"value": "44",
		//- 	"text": "с. Гракове, Чугуївський район"
		//- },
		//- {
		//- 	"value": "86",
		//- 	"text": "с. Грузьке, Борисівський район"
		//- },
		//- {
		//- 	"value": "50",
		//- 	"text": "с. Грушуваха, Барвінківський район"
		//- },
		//- {
		//- 	"value": "45",
		//- 	"text": "с. Дворічне, Дворічанський район"
		//- },
		//- {
		//- 	"value": "36",
		//- 	"text": "с. Дворічний Кут, Дергачівський район"
		//- },
		//- {
		//- 	"value": "78",
		//- 	"text": "с. Деревки, Котелевський район"
		//- },
		//- {
		//- 	"value": "62",
		//- 	"text": "с. Дмитрівка, Первомайський район"
		//- },
		//- {
		//- 	"value": "82",
		//- 	"text": "с. Добровілля, Близнюківський район"
		//- },
		//- {
		//- 	"value": "75",
		//- 	"text": "с. Добропілля, Валківський район"
		//- },
		//- {
		//- 	"value": "24",
		//- 	"text": "с. Дорошівка, Дворічанський район"
		//- },
		//- {
		//- 	"value": "25",
		//- 	"text": "с. Другий Лиман, Дворічанський район"
		//- },
		//- {
		//- 	"value": "29",
		//- 	"text": "с. Духовниче, Охтирський район"
		//- },
		//- {
		//- 	"value": "46",
		//- 	"text": "с. Жовтневе (Богданівське), Дворічанський район"
		//- },
		//- {
		//- 	"value": "91",
		//- 	"text": "с. Задонецьке, Зміївський район"
		//- },
		//- {
		//- 	"value": "111",
		//- 	"text": "с. Залиман, Балаклійський район"
		//- },
		//- {
		//- 	"value": "16",
		//- 	"text": "с. Іванівка, Ізюмський район"
		//- },
		//- {
		//- 	"value": "121",
		//- 	"text": "с. Іванівка, Чаплинський район"
		//- },
		//- {
		//- 	"value": "109",
		//- 	"text": "с. Калинове, Борівський район"
		//- },
		//- {
		//- 	"value": "59",
		//- 	"text": "с. Катеринівка, Лозівський район"
		//- },
		//- {
		//- 	"value": "56",
		//- 	"text": "с. Киселі, Первомайський район"
		//- },
		//- {
		//- 	"value": "7",
		//- 	"text": "с. Клюшниківка, Миргородський район"
		//- },
		//- {
		//- 	"value": "104",
		//- 	"text": "с. Козача Лопань, Дергачівський район"
		//- },
		//- {
		//- 	"value": "72",
		//- 	"text": "с. Корбині Івани, Богодухівський район"
		//- },
		//- {
		//- 	"value": "64",
		//- 	"text": "с. Костянтинівка, Сахновщинський район"
		//- },
		//- {
		//- 	"value": "51",
		//- 	"text": "с. Кручик, Богодухівський район"
		//- },
		//- {
		//- 	"value": "17",
		//- 	"text": "с. Крячківка, Пирятинський район"
		//- },
		//- {
		//- 	"value": "74",
		//- 	"text": "с. Куземин, Охтирський район"
		//- },
		//- {
		//- 	"value": "107",
		//- 	"text": "с. Кунцеве, Новосанжарський район"
		//- },
		//- {
		//- 	"value": "21",
		//- 	"text": "с. Кутьківка, Дворічанський район"
		//- },
		//- {
		//- 	"value": "33",
		//- 	"text": "с. Лантратівка, Охтирський район"
		//- },
		//- {
		//- 	"value": "34",
		//- 	"text": "с. Лиман, Зміївський район"
		//- },
		//- {
		//- 	"value": "18",
		//- 	"text": "с. Лиман, кут Кучерівка, Зміївський район"
		//- },
		//- {
		//- 	"value": "117",
		//- 	"text": "с. Любимівка Каховський район"
		//- },
		//- {
		//- 	"value": "94",
		//- 	"text": "с. Лютенські Будища, Зіньківський район"
		//- },
		//- {
		//- 	"value": "65",
		//- 	"text": "с. Максимівка, Сахновщинський район"
		//- },
		//- {
		//- 	"value": "11",
		//- 	"text": "с. Матяшівка, кут Кут, Великобагачанський район"
		//- },
		//- {
		//- 	"value": "12",
		//- 	"text": "с. Матяшівка, кут Ліски, Великобагачанський район"
		//- },
		//- {
		//- 	"value": "10",
		//- 	"text": "с. Матяшівка, кут Центр, Великобагачанський район"
		//- },
		//- {
		//- 	"value": "112",
		//- 	"text": "с. Мельникове, Валківський район"
		//- },
		//- {
		//- 	"value": "26",
		//- 	"text": "с. Мечнікове, Дворічанський район"
		//- },
		//- {
		//- 	"value": "27",
		//- 	"text": "с. Миколаївка, Дворічанський район"
		//- },
		//- {
		//- 	"value": "37",
		//- 	"text": "с. Миколаївка, Лозівський район"
		//- },
		//- {
		//- 	"value": "80",
		//- 	"text": "с. Михайлівка, Котелевський район"
		//- },
		//- {
		//- 	"value": "47",
		//- 	"text": "с. Моначинівка, Куп'янський район"
		//- },
		//- {
		//- 	"value": "69",
		//- 	"text": "с. Морозівка, Балаклійський район"
		//- },
		//- {
		//- 	"value": "19",
		//- 	"text": "с. Мохнач, Зміївський район"
		//- },
		//- {
		//- 	"value": "66",
		//- 	"text": "с. Нова Чернещина, Сахновщинський район"
		//- },
		//- {
		//- 	"value": "81",
		//- 	"text": "с. Новий Мерчик, Валківський район"
		//- },
		//- {
		//- 	"value": "115",
		//- 	"text": "с. Новомиколаївка Шевченківський район"
		//- },
		//- {
		//- 	"value": "70",
		//- 	"text": "с. Огіївка, Сахновщинський район"
		//- },
		//- {
		//- 	"value": "113",
		//- 	"text": "с. Одноробівка, Золочівський район"
		//- },
		//- {
		//- 	"value": "103",
		//- 	"text": "с. Одрадне, Дворічанський район"
		//- },
		//- {
		//- 	"value": "53",
		//- 	"text": "с. Олександрівка, Валківський район"
		//- },
		//- {
		//- 	"value": "98",
		//- 	"text": "с. Очеретове, Валківський район"
		//- },
		//- {
		//- 	"value": "28",
		//- 	"text": "с. Очкине, Середино-Будський район"
		//- },
		//- {
		//- 	"value": "58",
		//- 	"text": "с. Петрівське (Петровское), Балаклійський район"
		//- },
		//- {
		//- 	"value": "38",
		//- 	"text": "с. Петропілля, Лозівський район"
		//- },
		//- {
		//- 	"value": "57",
		//- 	"text": "с. Піски-Радьківські, Борівський район"
		//- },
		//- {
		//- 	"value": "63",
		//- 	"text": "с. Плоске, Великобурлуцький район"
		//- },
		//- {
		//- 	"value": "35",
		//- 	"text": "с. Польова, Дергачівський район"
		//- },
		//- {
		//- 	"value": "40",
		//- 	"text": "с. Правда (Комправда), Первомайський район"
		//- },
		//- {
		//- 	"value": "123",
		//- 	"text": "с. Рачівка, Чаплинський район"
		//- },
		//- {
		//- 	"value": "30",
		//- 	"text": "с. Рубани, Охтирський район"
		//- },
		//- {
		//- 	"value": "31",
		//- 	"text": "с. Рябина, Великописарівський район"
		//- },
		//- {
		//- 	"value": "99",
		//- 	"text": "с. Сковородинівка, Золочівський район"
		//- },
		//- {
		//- 	"value": "3",
		//- 	"text": "с. Скрипаї, Зміївський район"
		//- },
		//- {
		//- 	"value": "116",
		//- 	"text": "с. Софіївка Каховський район"
		//- },
		//- {
		//- 	"value": "87",
		//- 	"text": "с. Стригуни, Борисівський район"
		//- },
		//- {
		//- 	"value": "119",
		//- 	"text": "с. Строганівка, Чаплинський район"
		//- },
		//- {
		//- 	"value": "48",
		//- 	"text": "с. Тавільжанка, Дворічанський район"
		//- },
		//- {
		//- 	"value": "4",
		//- 	"text": "с. Терни, Лубенський район"
		//- },
		//- {
		//- 	"value": "68",
		//- 	"text": "с. Тернова (Терновая), Харківський район"
		//- },
		//- {
		//- 	"value": "71",
		//- 	"text": "с. Тернуватка, Сахновщинський район"
		//- },
		//- {
		//- 	"value": "13",
		//- 	"text": "с. Устивиця, Великобагачанський район"
		//- },
		//- {
		//- 	"value": "1",
		//- 	"text": "с. Хотмизьк, Борисівський район"
		//- },
		//- {
		//- 	"value": "85",
		//- 	"text": "с. Чемужівка, Зміївський район"
		//- },
		//- {
		//- 	"value": "83",
		//- 	"text": "с. Чепіль, Балаклійський район"
		//- },
		//- {
		//- 	"value": "97",
		//- 	"text": "с. Черкаська Лозова, Харківський район"
		//- },
		//- {
		//- 	"value": "41",
		//- 	"text": "с. Чернещина, Краснокутський район"
		//- },
		//- {
		//- 	"value": "110",
		//- 	"text": "с. Шарівка, Валківський район"
		//- },
		//- {
		//- 	"value": "23",
		//- 	"text": "с. Шелудьківка, Зміївський район"
		//- },
		//- {
		//- 	"value": "61",
		//- 	"text": "с. Яковенкове, Балаклійський район"
		//- },
		//- {
		//- 	"value": "32",
		//- 	"text": "с. Ясенове, Охтирський район"
		//- },
		//- {
		//- 	"value": "84",
		//- 	"text": "сел. Велика Данилівка, м. Харків"
		//- },
		//- {
		//- 	"value": "105",
		//- 	"text": "сел. Печеніги, Чугуївський район"
		//- },
		//- {
		//- 	"value": "8",
		//- 	"text": "смт Гоголеве, Великобагачанський район"
		//- },
		//- {
		//- 	"value": "9",
		//- 	"text": "смт Гоголеве, хутір Марченки, Великобагачанський район"
		//- },
		//- {
		//- 	"value": "15",
		//- 	"text": "смт Дворічна, Дворічанський район"
		//- },
		//- {
		//- 	"value": "79",
		//- 	"text": "смт Котельва, Котелевський район"
		//- },
		//- {
		//- 	"value": "6",
		//- 	"text": "смт Краснокутськ, Краснокутський район"
		//- },
		//- {
		//- 	"value": "67",
		//- 	"text": "смт Чкаловське, Чугуївський район"
		//- }
	]
	var SINGERS = [
		{
			"value": "56",
			"text": "... Федір Павлович (1927)"
		},
		{
			"value": "95",
			"text": "...Раїса (~1966)"
		},
		{
			"value": "236",
			"text": "? Антоніна ? (невід.)"
		},
		{
			"value": "235",
			"text": "? Олександра Власівна (1928)"
		},
		{
			"value": "177",
			"text": "Євдокимова О.М. (1933)"
		},
		{
			"value": "172",
			"text": "Євченко Євдокія Тарасівна (невід.)"
		},
		{
			"value": "325",
			"text": "Єдаменко Хведор Петрович (1941)"
		},
		{
			"value": "315",
			"text": "Єлисеєва Раї.Петр. (1947)"
		},
		{
			"value": "209",
			"text": "Єфименко Марія Павлівна (1921)"
		},
		{
			"value": "228",
			"text": "Іванько Парасковія Іванівна (1912)"
		},
		{
			"value": "38",
			"text": "Ігнатченко Галина Василівна (1924)"
		},
		{
			"value": "260",
			"text": "Індик Варвара Харитонівна (1929)"
		},
		{
			"value": "385",
			"text": "Алєйнік Раїса Іванівна (1930)"
		},
		{
			"value": "1",
			"text": "Аламакіна Валентина Андрієвна (1957)"
		},
		{
			"value": "3",
			"text": "Анна Михайлівна (1941)"
		},
		{
			"value": "161",
			"text": "Артеменко Уляна Тимофіївна (1908)"
		},
		{
			"value": "272",
			"text": "Бєлогуров С.І. (1923)"
		},
		//- {
		//- 	"value": "137",
		//- 	"text": "Біда Марина Марківна (1910)"
		//- },
		//- {
		//- 	"value": "253",
		//- 	"text": "Бідна Марія Лаврентіївна (1918)"
		//- },
		//- {
		//- 	"value": "297",
		//- 	"text": "Білинська Антоніна Іванівна (1921)"
		//- },
		//- {
		//- 	"value": "175",
		//- 	"text": "Білокудря Є.Д. (1928)"
		//- },
		//- {
		//- 	"value": "416",
		//- 	"text": "Білоус Олександра Валеріївна (1938)"
		//- },
		//- {
		//- 	"value": "121",
		//- 	"text": "Бабак Галина Микитівна (1927)"
		//- },
		//- {
		//- 	"value": "126",
		//- 	"text": "Бабак Катерина Онанівна (1912)"
		//- },
		//- {
		//- 	"value": "222",
		//- 	"text": "Бабиченко Любов Іванівна (1927)"
		//- },
		//- {
		//- 	"value": "420",
		//- 	"text": "Багацька Ганна Іванівна (1922)"
		//- },
		//- {
		//- 	"value": "31",
		//- 	"text": "Бадров Мотря Юхимівна (невід.)"
		//- },
		//- {
		//- 	"value": "213",
		//- 	"text": "Бакаленко Катерина Василівна (1924)"
		//- },
		//- {
		//- 	"value": "103",
		//- 	"text": "Бакало Г. А. (1925)"
		//- },
		//- {
		//- 	"value": "122",
		//- 	"text": "Баранчик Ганна Захарівна (~1925)"
		//- },
		//- {
		//- 	"value": "163",
		//- 	"text": "Бездник Марина Іванівна (1913)"
		//- },
		//- {
		//- 	"value": "266",
		//- 	"text": "Боброва Марія Олексієвна (1913)"
		//- },
		//- {
		//- 	"value": "401",
		//- 	"text": "Бондаренко Володимир Власович (1928)"
		//- },
		//- {
		//- 	"value": "428",
		//- 	"text": "Бондаренко Марія Антонівна (1922)"
		//- },
		//- {
		//- 	"value": "393",
		//- 	"text": "Бондарь Надія Павлівна (1929)"
		//- },
		//- {
		//- 	"value": "14",
		//- 	"text": "Борисенко Лідія Семенівна (1927)"
		//- },
		//- {
		//- 	"value": "217",
		//- 	"text": "Борисенко Уляна Євгенівна (1907)"
		//- },
		//- {
		//- 	"value": "251",
		//- 	"text": "Борківець Варвара Петрівна (1912)"
		//- },
		//- {
		//- 	"value": "284",
		//- 	"text": "Борківець Г.М. (1957)"
		//- },
		//- {
		//- 	"value": "431",
		//- 	"text": "Борщ Марія Семенівна (1925)"
		//- },
		//- {
		//- 	"value": "149",
		//- 	"text": "Бражник М.К. (1927)"
		//- },
		//- {
		//- 	"value": "104",
		//- 	"text": "Бужин Г. І. (1931)"
		//- },
		//- {
		//- 	"value": "408",
		//- 	"text": "Булига Ніна Іванівна (1939)"
		//- },
		//- {
		//- 	"value": "140",
		//- 	"text": "Буракова Олександра Антонівна (1906)"
		//- },
		//- {
		//- 	"value": "20",
		//- 	"text": "Буряк Марія Федорівна (1913)"
		//- },
		//- {
		//- 	"value": "25",
		//- 	"text": "Вільхова Ірина Гаврилівна (1919)"
		//- },
		//- {
		//- 	"value": "231",
		//- 	"text": "Вакула Антоніна Григорівна (1925)"
		//- },
		//- {
		//- 	"value": "418",
		//- 	"text": "Варкар Віра Іллівна (1937)"
		//- },
		//- {
		//- 	"value": "422",
		//- 	"text": "Василенко Віра Денисівна (1923)"
		//- },
		//- {
		//- 	"value": "405",
		//- 	"text": "Ващенко Г.Т. (1940)"
		//- },
		//- {
		//- 	"value": "123",
		//- 	"text": "Ващенко Ганна Іванівна (1929)"
		//- },
		//- {
		//- 	"value": "451",
		//- 	"text": "Ващенко Поліна Іванівна (1943)"
		//- },
		//- {
		//- 	"value": "96",
		//- 	"text": "Величко Н.С. (1921)"
		//- },
		//- {
		//- 	"value": "383",
		//- 	"text": "Вервейко Галина Іванівна (1951)"
		//- },
		//- {
		//- 	"value": "113",
		//- 	"text": "Волик Поліна Іванівна (1936)"
		//- },
		//- {
		//- 	"value": "69",
		//- 	"text": "Володько Михайло Євстратович (1931)"
		//- },
		//- {
		//- 	"value": "223",
		//- 	"text": "Волохова Катерина Федорівна (1922)"
		//- },
		//- {
		//- 	"value": "244",
		//- 	"text": "Воротник Февронія (Хавронія) Юхимівна (1911)"
		//- },
		//- {
		//- 	"value": "46",
		//- 	"text": "Воскобойник Марія Степанівна (1931)"
		//- },
		//- {
		//- 	"value": "162",
		//- 	"text": "Гайворонська Віра Марківна (невід.)"
		//- },
		//- {
		//- 	"value": "334",
		//- 	"text": "Галина Романовна Майборода (1924)"
		//- },
		//- {
		//- 	"value": "412",
		//- 	"text": "Галина Харченко (Гончаренко) (1925)"
		//- },
		//- {
		//- 	"value": "245",
		//- 	"text": "Герасименко Орина Данилівна (1917)"
		//- },
		//- {
		//- 	"value": "214",
		//- 	"text": "Гнєнна Парасковія Григоровна (1916)"
		//- },
		//- {
		//- 	"value": "296",
		//- 	"text": "Говор Марія Яківна (1928)"
		//- },
		//- {
		//- 	"value": "135",
		//- 	"text": "Головачьова Є.П. (1929)"
		//- },
		//- {
		//- 	"value": "21",
		//- 	"text": "Гончаренко Катерина Мартинівна (1924)"
		//- },
		//- {
		//- 	"value": "19",
		//- 	"text": "Гончаренко Килина Михайлівна (1910)"
		//- },
		//- {
		//- 	"value": "4",
		//- 	"text": "Гончарова Катерина Яковлівна (1944)"
		//- },
		//- {
		//- 	"value": "105",
		//- 	"text": "Горбань М. С. (1930)"
		//- },
		//- {
		//- 	"value": "77",
		//- 	"text": "Гордієнко Олександра Гаврилівна (1904)"
		//- },
		//- {
		//- 	"value": "286",
		//- 	"text": "Горобець Г. Г. (1938)"
		//- },
		//- {
		//- 	"value": "150",
		//- 	"text": "Горобець П.П. (1929)"
		//- },
		//- {
		//- 	"value": "197",
		//- 	"text": "Горяник Р. Я. (невід.)"
		//- },
		//- {
		//- 	"value": "432",
		//- 	"text": "гурт"
		//- },
		//- {
		//- 	"value": "252",
		//- 	"text": "гурт СБК (10 осіб)"
		//- },
		//- {
		//- 	"value": "78",
		//- 	"text": "гурт СБК (5 жінок)"
		//- },
		//- {
		//- 	"value": "249",
		//- 	"text": "гурт СБК (7 осіб)"
		//- },
		//- {
		//- 	"value": "255",
		//- 	"text": "гурт СБК (9 осіб)"
		//- },
		//- {
		//- 	"value": "316",
		//- 	"text": "Дєговцова Валентина Яківна (1934)"
		//- },
		//- {
		//- 	"value": "377",
		//- 	"text": "Дід Марія Кононівна (1922)"
		//- },
		//- {
		//- 	"value": "453",
		//- 	"text": "Данченко Валентина Федорівна (1949)"
		//- },
		//- {
		//- 	"value": "151",
		//- 	"text": "Двигун В.К. (1942)"
		//- },
		//- {
		//- 	"value": "168",
		//- 	"text": "Двойченко Ольга Кузьмівна (1912)"
		//- },
		//- {
		//- 	"value": "279",
		//- 	"text": "Дельвих К.І. (1943)"
		//- },
		//- {
		//- 	"value": "360",
		//- 	"text": "Демошкевич Ганна Олекс. (1932)"
		//- },
		//- {
		//- 	"value": "241",
		//- 	"text": "Демченко Марія Микитівна (1919)"
		//- },
		//- {
		//- 	"value": "176",
		//- 	"text": "Дижиченко Є.П. (1920)"
		//- },
		//- {
		//- 	"value": "98",
		//- 	"text": "Дмитренко Ганна Марківна (невід.)"
		//- },
		//- {
		//- 	"value": "134",
		//- 	"text": "Дмитренко У.А. (1931)"
		//- },
		//- {
		//- 	"value": "371",
		//- 	"text": "Домніч Галина Петрівна (1937)"
		//- },
		//- {
		//- 	"value": "136",
		//- 	"text": "Дорошенко Є.П. (1922)"
		//- },
		//- {
		//- 	"value": "291",
		//- 	"text": "Дорошенко Анастасія Андріївна (невід.)"
		//- },
		//- {
		//- 	"value": "292",
		//- 	"text": "Дорошенко Наталія Андріївна (невід.)"
		//- },
		//- {
		//- 	"value": "293",
		//- 	"text": "Дорошенко Тетяна Павлівна (невід.)"
		//- },
		//- {
		//- 	"value": "54",
		//- 	"text": "Дубова Катерина Андріївна (1924)"
		//- },
		//- {
		//- 	"value": "205",
		//- 	"text": "Дубовик А. П. (невід.)"
		//- },
		//- {
		//- 	"value": "326",
		//- 	"text": "Дубовик Н.Ф. (1939)"
		//- },
		//- {
		//- 	"value": "282",
		//- 	"text": "Жадан Г.С. (1935)"
		//- },
		//- {
		//- 	"value": "157",
		//- 	"text": "Жадан Петро Григорович (невід.)"
		//- },
		//- {
		//- 	"value": "178",
		//- 	"text": "Жигилій Н.Ф. (1926)"
		//- },
		//- {
		//- 	"value": "118",
		//- 	"text": "Жидкова Н.С. (невід.)"
		//- },
		//- {
		//- 	"value": "407",
		//- 	"text": "Жидкова Раїса Костянтинівна (1949)"
		//- },
		//- {
		//- 	"value": "5",
		//- 	"text": "Житкова Уляна Яківна (1904)"
		//- },
		//- {
		//- 	"value": "268",
		//- 	"text": "Журавльова Р.В. (1938)"
		//- },
		//- {
		//- 	"value": "106",
		//- 	"text": "Заєць Г. Ф. (1932)"
		//- },
		//- {
		//- 	"value": "63",
		//- 	"text": "Загорулько Єфросинія Петрівна (1923)"
		//- },
		//- {
		//- 	"value": "68",
		//- 	"text": "Загорулько Василь Федорович (1924)"
		//- },
		//- {
		//- 	"value": "88",
		//- 	"text": "Задорожня Н. Г. (1938)"
		//- },
		//- {
		//- 	"value": "179",
		//- 	"text": "Зайрагна О.М. (1933)"
		//- },
		//- {
		//- 	"value": "215",
		//- 	"text": "Запорожець Ганна Арсентіївна (1917)"
		//- },
		//- {
		//- 	"value": "154",
		//- 	"text": "Зей Ганна Трохимівна (1913)"
		//- },
		//- {
		//- 	"value": "369",
		//- 	"text": "Зекун Ганна Іванівна (1936)"
		//- },
		//- {
		//- 	"value": "367",
		//- 	"text": "Злодєєва Марія Михайлівна (1945)"
		//- },
		//- {
		//- 	"value": "386",
		//- 	"text": "Кальницька Олександра Василівна (1930)"
		//- },
		//- {
		//- 	"value": "256",
		//- 	"text": "Калюжна Марія Федорівна (1935)"
		//- },
		//- {
		//- 	"value": "221",
		//- 	"text": "Камаєць Зінаїда Іванівна (1909)"
		//- },
		//- {
		//- 	"value": "10",
		//- 	"text": "Карпова Марія Федорівна (1919)"
		//- },
		//- {
		//- 	"value": "70",
		//- 	"text": "Кирпас Віра Петрівна (1936)"
		//- },
		//- {
		//- 	"value": "89",
		//- 	"text": "Клепач(?) В. В. (1922)"
		//- },
		//- {
		//- 	"value": "180",
		//- 	"text": "Клименко А.І. (1928)"
		//- },
		//- {
		//- 	"value": "265",
		//- 	"text": "Кобель Олександра Євсеївна (1929)"
		//- },
		//- {
		//- 	"value": "45",
		//- 	"text": "Ковальова Софія Іванівна (1911)"
		//- },
		//- {
		//- 	"value": "22",
		//- 	"text": "Козарь Тетяна Василівна (1919)"
		//- },
		//- {
		//- 	"value": "199",
		//- 	"text": "Колесник Марія Миколаївна (невід.)"
		//- },
		//- {
		//- 	"value": "232",
		//- 	"text": "Колесник Раїса Степанівна (1923)"
		//- },
		//- {
		//- 	"value": "41",
		//- 	"text": "Колодна Анастасія Ігнатівна (1907)"
		//- },
		//- {
		//- 	"value": "160",
		//- 	"text": "Колокийчук Віра Павлівна (1918)"
		//- },
		//- {
		//- 	"value": "262",
		//- 	"text": "Комірна Наталія Максимівна (1912)"
		//- },
		//- {
		//- 	"value": "55",
		//- 	"text": "Комльова Ганна Архипівна (1916)"
		//- },
		//- {
		//- 	"value": "233",
		//- 	"text": "Коновалова Марія Макарівна (1929)"
		//- },
		//- {
		//- 	"value": "452",
		//- 	"text": "Корнійчук Ганна Никонівна (1930)"
		//- },
		//- {
		//- 	"value": "71",
		//- 	"text": "Коробка Ганна Олексіївна (1922)"
		//- },
		//- {
		//- 	"value": "413",
		//- 	"text": "Корсун Надія Прокопівна (1930)"
		//- },
		//- {
		//- 	"value": "429",
		//- 	"text": "Косенко Євдокія Микитівна (1935)"
		//- },
		//- {
		//- 	"value": "274",
		//- 	"text": "Костіна Ж.Я. (1940)"
		//- },
		//- {
		//- 	"value": "380",
		//- 	"text": "Костенко Ганна Михайлівна (невід.)"
		//- },
		//- {
		//- 	"value": "242",
		//- 	"text": "Костяниць Марія Леонтіївна (1926)"
		//- },
		//- {
		//- 	"value": "229",
		//- 	"text": "Костянтинова Ганна Дмитрівна (1911)"
		//- },
		//- {
		//- 	"value": "181",
		//- 	"text": "Котелевець Ф.О. (невід.)"
		//- },
		//- {
		//- 	"value": "145",
		//- 	"text": "Котельник Поліна Кирилівна (1915)"
		//- },
		//- {
		//- 	"value": "269",
		//- 	"text": "Кравченко Г.Г. (1951)"
		//- },
		//- {
		//- 	"value": "379",
		//- 	"text": "Кравченко Олена Пилипівна (невід.)"
		//- },
		//- {
		//- 	"value": "15",
		//- 	"text": "Крамаренко Василь Андрійович (1920)"
		//- },
		//- {
		//- 	"value": "90",
		//- 	"text": "Красько Г. Ю. (1939)"
		//- },
		//- {
		//- 	"value": "99",
		//- 	"text": "Крейдун М.Б. (1920)"
		//- },
		//- {
		//- 	"value": "187",
		//- 	"text": "Крижанівська Євдокія Андріївна (1930)"
		//- },
		//- {
		//- 	"value": "277",
		//- 	"text": "Криса К.О. (1945)"
		//- },
		//- {
		//- 	"value": "327",
		//- 	"text": "Кришталь М.І (1938)"
		//- },
		//- {
		//- 	"value": "395",
		//- 	"text": "Кришталь М.М. (1936)"
		//- },
		//- {
		//- 	"value": "397",
		//- 	"text": "Кришталь Софія Григорівна (1916)"
		//- },
		//- {
		//- 	"value": "2",
		//- 	"text": "Кругова Ганна Іванівна (1942)"
		//- },
		//- {
		//- 	"value": "273",
		//- 	"text": "Крюкова К.А. (1936)"
		//- },
		//- {
		//- 	"value": "366",
		//- 	"text": "Крюкова Любов Федорівна (1941)"
		//- },
		//- {
		//- 	"value": "225",
		//- 	"text": "Кудри Анастасія Іванівна (1915)"
		//- },
		//- {
		//- 	"value": "182",
		//- 	"text": "Кузнєцова М.П. (1937)"
		//- },
		//- {
		//- 	"value": "50",
		//- 	"text": "Кутько Катерина Федорівна (1938)"
		//- },
		//- {
		//- 	"value": "411",
		//- 	"text": "Кушнерук Ольга Антонівна (1964)"
		//- },
		{
			"value": "270",
			"text": "Лазаренко О.Є. (1929)"
		},
		{
			"value": "66",
			"text": "Левада Ганна Микитівна (1912)"
		},
		{
			"value": "283",
			"text": "Левада М.А. (1937)"
		},
		{
			"value": "40",
			"text": "Лейко Мотря Мусіївна (1918)"
		},
		{
			"value": "108",
			"text": "Лизько О. К. (1923)"
		},
		{
			"value": "246",
			"text": "Лимар Анастасія Миколаївна (1922)"
		},
		{
			"value": "72",
			"text": "Лимаренко Євдокія Пантеліївна (1935)"
		},
		//- {
		//- 	"value": "127",
		//- 	"text": "Лисак Ірина Микитівна (1932)"
		//- },
		//- {
		//- 	"value": "275",
		//- 	"text": "Лисенко Т.В. (1954)"
		//- },
		//- {
		//- 	"value": "336",
		//- 	"text": "Литвенко Катерина Федотівна (1934)"
		//- },
		//- {
		//- 	"value": "424",
		//- 	"text": "Лозова Галина Петрівна (1926)"
		//- },
		//- {
		//- 	"value": "423",
		//- 	"text": "Лозовий Володимир Йосипович (1926)"
		//- },
		//- {
		//- 	"value": "322",
		//- 	"text": "Ломакіна Вал.Андр. (1957)"
		//- },
		//- {
		//- 	"value": "53",
		//- 	"text": "Лук’янцова Анастасія Григорівна (1923)"
		//- },
		//- {
		//- 	"value": "109",
		//- 	"text": "Лутай (лугай?) Г. А. (1922)"
		//- },
		//- {
		//- 	"value": "26",
		//- 	"text": "Луценко Наталія Володимирівна (1922)"
		//- },
		//- {
		//- 	"value": "271",
		//- 	"text": "Лучанінов І.М. (1937)"
		//- },
		//- {
		//- 	"value": "276",
		//- 	"text": "Лучанінова Р.Д. (1940)"
		//- },
		//- {
		//- 	"value": "248",
		//- 	"text": "Льозіна Анастасія Петрівна (1924)"
		//- },
		//- {
		//- 	"value": "79",
		//- 	"text": "Любич Марія Митрофанівна (1927)"
		//- },
		//- {
		//- 	"value": "80",
		//- 	"text": "Любич Марія Павлівна (1920)"
		//- },
		//- {
		//- 	"value": "73",
		//- 	"text": "Мірна Меланія Андріївна (1919)"
		//- },
		//- {
		//- 	"value": "74",
		//- 	"text": "Мірна Тетяна Федорівна (1935)"
		//- },
		//- {
		//- 	"value": "317",
		//- 	"text": "Мірошникова Надія Іванівна (1941)"
		//- },
		//- {
		//- 	"value": "378",
		//- 	"text": "Міхно Марія Андріївна (невід.)"
		//- },
		//- {
		//- 	"value": "280",
		//- 	"text": "Маєвська А.М. (1941)"
		//- },
		//- {
		//- 	"value": "337",
		//- 	"text": "Майборода Галина Романівна (1924)"
		//- },
		//- {
		//- 	"value": "261",
		//- 	"text": "Макаренко Олександра Денисівна (1924)"
		//- },
		//- {
		//- 	"value": "16",
		//- 	"text": "Максюта Оксана Андріївна (1928)"
		//- },
		//- {
		//- 	"value": "81",
		//- 	"text": "Малешко Ганна Єгорівна (1924)"
		//- },
		//- {
		//- 	"value": "32",
		//- 	"text": "Маляр Марфа Юхимівна (невід.)"
		//- },
		//- {
		//- 	"value": "82",
		//- 	"text": "Маніца Дарія Павлівна (1927)"
		//- },
		//- {
		//- 	"value": "185",
		//- 	"text": "Мартусь Захар Прокопович (1910)"
		//- },
		//- {
		//- 	"value": "91",
		//- 	"text": "Марченко К. Г. (1933)"
		//- },
		//- {
		//- 	"value": "372",
		//- 	"text": "Марченко Олександра Федорівна (1931)"
		//- },
		//- {
		//- 	"value": "6",
		//- 	"text": "Мелюкова Марфа Семенівна (1907)"
		//- },
		//- {
		//- 	"value": "341",
		//- 	"text": "Миргородська Галина Іллівна (1936)"
		//- },
		//- {
		//- 	"value": "394",
		//- 	"text": "Мищенко Г.С. (1938)"
		//- },
		//- {
		//- 	"value": "230",
		//- 	"text": "Мороз Ганна Яківна (1918)"
		//- },
		//- {
		//- 	"value": "75",
		//- 	"text": "Мосьпан Меланія Кузьмівна (1928)"
		//- },
		//- {
		//- 	"value": "328",
		//- 	"text": "Мураєва Г.І. (1940)"
		//- },
		//- {
		//- 	"value": "116",
		//- 	"text": "Мусорова Є.М. (невід.)"
		//- },
		//- {
		//- 	"value": "115",
		//- 	"text": "Мусорова Н.В. (невід.)"
		//- },
		//- {
		//- 	"value": "290",
		//- 	"text": "М’яло М.І. (1935)"
		//- },
		//- {
		//- 	"value": "138",
		//- 	"text": "Назаренко Уляна Григорівна (1909)"
		//- },
		//- {
		//- 	"value": "308",
		//- 	"text": "Народний аматорський фольклорний 4 „Калинонька” Лиманського СБК Зміївського району (керівник О.І. Корнієнко)"
		//- },
		//- {
		//- 	"value": "83",
		//- 	"text": "Науменко Ганна Володимирівна (1931)"
		//- },
		//- {
		//- 	"value": "158",
		//- 	"text": "невідомі виконавці"
		//- },
		//- {
		//- 	"value": "188",
		//- 	"text": "Непокрита Ганна Олексіївна (1940)"
		//- },
		//- {
		//- 	"value": "189",
		//- 	"text": "Непокрита Марія Трохимівна (1929)"
		//- },
		//- {
		//- 	"value": "120",
		//- 	"text": "Низькопоклонна Г.В. (невід.)"
		//- },
		//- {
		//- 	"value": "170",
		//- 	"text": "Новомлинська Євдокія Кузьмівна (1920)"
		//- },
		//- {
		//- 	"value": "184",
		//- 	"text": "Новосел А.І. (1915)"
		//- },
		//- {
		//- 	"value": "183",
		//- 	"text": "Новосел А.Г. (1922)"
		//- },
		//- {
		//- 	"value": "448",
		//- 	"text": "Новоселецька Ніна Андріївна (1912)"
		//- },
		//- {
		//- 	"value": "449",
		//- 	"text": "Носко Віра Давидівна (1922)"
		//- },
		//- {
		//- 	"value": "166",
		//- 	"text": "Овчаренко Анастасія Дмитрівна (1916)"
		//- },
		//- {
		//- 	"value": "34",
		//- 	"text": "Олефіренко Ганна Григорівна (1911)"
		//- },
		//- {
		//- 	"value": "110",
		//- 	"text": "Омельяненко Є. Г. (1929)"
		//- },
		//- {
		//- 	"value": "35",
		//- 	"text": "Онищенко Василина Пантелеймонівна (1914)"
		//- },
		//- {
		//- 	"value": "39",
		//- 	"text": "Островерха Марія Трохимівна (1922)"
		//- },
		//- {
		//- 	"value": "216",
		//- 	"text": "Пєтік Ольга Михайлівна (1931)"
		//- },
		//- {
		//- 	"value": "384",
		//- 	"text": "Пєшко Анна Іванівна (1951)"
		//- },
		//- {
		//- 	"value": "153",
		//- 	"text": "півчі з церкви"
		//- },
		//- {
		//- 	"value": "124",
		//- 	"text": "Павленко Марія Данилівна (1930)"
		//- },
		//- {
		//- 	"value": "247",
		//- 	"text": "Паламаренко Єлизавета Юхимівна (1932)"
		//- },
		//- {
		//- 	"value": "421",
		//- 	"text": "Панова Ніна Федорівна (1948)"
		//- },
		//- {
		//- 	"value": "414",
		//- 	"text": "Парасочка Зінаїда Іванівна (1937)"
		//- },
		//- {
		//- 	"value": "240",
		//- 	"text": "Перекопська Ольга Семенівна (1915)"
		//- },
		//- {
		//- 	"value": "52",
		//- 	"text": "Перепелиця Марія Свиридівна (1928)"
		//- },
		//- {
		//- 	"value": "409",
		//- 	"text": "Перепелиця Оксана Яківна (1948)"
		//- },
		//- {
		//- 	"value": "111",
		//- 	"text": "Перетятько Г. Д. (невід.)"
		//- },
		//- {
		//- 	"value": "210",
		//- 	"text": "Петішева Діна Олександрівна (1939)"
		//- },
		//- {
		//- 	"value": "18",
		//- 	"text": "Петренко Ганна Іллівна (1919)"
		//- },
		//- {
		//- 	"value": "17",
		//- 	"text": "Петренко Ганна Андріївна (1915)"
		//- },
		//- {
		//- 	"value": "194",
		//- 	"text": "Петренко Серафіма Кирилівна (1926)"
		//- },
		//- {
		//- 	"value": "324",
		//- 	"text": "Поваляєва Л. Ст. (1938)"
		//- },
		//- {
		//- 	"value": "404",
		//- 	"text": "Погрєбцова Катерина Калістратівна (1931)"
		//- },
		//- {
		//- 	"value": "49",
		//- 	"text": "Погрібняк Ганна Миколаївна (1923)"
		//- },
		{
			"value": "165",
			"text": "Погрібняк Мавра Денисівна (1910)"
		},
		{
			"value": "92",
			"text": "Подоляка А. М. (1934)"
		},
		{
			"value": "195",
			"text": "Поломана Серафіма Федотівна (1926)"
		},
		{
			"value": "454",
			"text": "Полторацька Ніна Олексіївна (1949)"
		},
		{
			"value": "132",
			"text": "Полян Є.М. (1918)"
		},
		{
			"value": "226",
			"text": "Пономаренко Галина Гордіївна (1914)"
		},
		{
			"value": "100",
			"text": "Пономарьова В.П. (1924)"
		},
		//- {
		//- 	"value": "67",
		//- 	"text": "Попко Галина Якимівна (1930)"
		//- },
		//- {
		//- 	"value": "342",
		//- 	"text": "Прокопова Надія Антонівна (1929)"
		//- },
		//- {
		//- 	"value": "7",
		//- 	"text": "Проценко Федора Євгенівна (0000)"
		//- },
		//- {
		//- 	"value": "264",
		//- 	"text": "Прядка Анастасія Максимівна (1910)"
		//- },
		//- {
		//- 	"value": "281",
		//- 	"text": "Пустовіт К.М. (1931)"
		//- },
		//- {
		//- 	"value": "254",
		//- 	"text": "Реп’ях Тетяна Віталіївна (1922)"
		//- },
		//- {
		//- 	"value": "206",
		//- 	"text": "Рибалко М. В. (невід.)"
		//- },
		//- {
		//- 	"value": "164",
		//- 	"text": "Рибалко Марія Іллівна (1919)"
		//- },
		//- {
		//- 	"value": "238",
		//- 	"text": "Рибачова Марія Федорівна (1930)"
		//- },
		//- {
		//- 	"value": "410",
		//- 	"text": "Риженко Ганна Антонівна (1954)"
		//- },
		//- {
		//- 	"value": "352",
		//- 	"text": "Рижова Ганна Петрівна (1935)"
		//- },
		//- {
		//- 	"value": "65",
		//- 	"text": "Роздабара Надія Микитівна (1936)"
		//- },
		//- {
		//- 	"value": "64",
		//- 	"text": "Роздабара Федір Олександрович (1936)"
		//- },
		//- {
		//- 	"value": "288",
		//- 	"text": "Романюк Г.І. (1930)"
		//- },
		//- {
		//- 	"value": "141",
		//- 	"text": "Рудакова Аксенія Пилипівна (1905)"
		//- },
		//- {
		//- 	"value": "24",
		//- 	"text": "Рудь Григорій Іванович (1928)"
		//- },
		//- {
		//- 	"value": "147",
		//- 	"text": "Русин Поліна Степанівна (1930)"
		//- },
		//- {
		//- 	"value": "224",
		//- 	"text": "Рябініна Марія Антонівна (1929)"
		//- },
		//- {
		//- 	"value": "427",
		//- 	"text": "Саєнко Анна Дмитрівна (1923)"
		//- },
		//- {
		//- 	"value": "450",
		//- 	"text": "Савицька Ганна Федорівна (1927)"
		//- },
		//- {
		//- 	"value": "335",
		//- 	"text": "Саяна Галина Олександрівна (1938)"
		//- },
		//- {
		//- 	"value": "307",
		//- 	"text": "Сембур Леонід Іванович (скрипка) (невід.)"
		//- },
		//- {
		//- 	"value": "142",
		//- 	"text": "Сердюк Анастасія Федорівна (1910)"
		//- },
		//- {
		//- 	"value": "29",
		//- 	"text": "Сердюк Гаврило Дмитрович (0000)"
		//- },
		//- {
		//- 	"value": "159",
		//- 	"text": "Сердюк Олександр Васильович (1907)"
		//- },
		//- {
		//- 	"value": "338",
		//- 	"text": "Сивокоз Олександра Андріївна (1937)"
		//- },
		//- {
		//- 	"value": "398",
		//- 	"text": "Сидоренко Cофія Гнатівна (1914)"
		//- },
		//- {
		//- 	"value": "93",
		//- 	"text": "Силь Л. М. (1935)"
		//- },
		//- {
		//- 	"value": "267",
		//- 	"text": "Синиця Олександра Іванівна (1923)"
		//- },
		//- {
		//- 	"value": "59",
		//- 	"text": "Ситник Неоніла Яківна (1908)"
		//- },
		//- {
		//- 	"value": "117",
		//- 	"text": "Скирко Н.В. (невід.)"
		//- },
		//- {
		//- 	"value": "303",
		//- 	"text": "Скотаренко Степан Мартинович (невід.)"
		//- },
		//- {
		//- 	"value": "227",
		//- 	"text": "Скубрій Марія Іванівна (1909)"
		//- },
		//- {
		//- 	"value": "329",
		//- 	"text": "Смолянінова Г.В (1952)"
		//- },
		//- {
		//- 	"value": "207",
		//- 	"text": "Сніжко С. А. (невід.)"
		//- },
		//- {
		//- 	"value": "211",
		//- 	"text": "Соболь Марія Федорівна (1915)"
		//- },
		//- {
		//- 	"value": "8",
		//- 	"text": "Соколова Любов Семенівна (1924)"
		//- },
		//- {
		//- 	"value": "212",
		//- 	"text": "Соколова Надія Іванівна (1913)"
		//- },
		//- {
		//- 	"value": "62",
		//- 	"text": "Солодовник Галина Дмитрівна (1944)"
		//- },
		//- {
		//- 	"value": "373",
		//- 	"text": "Солощенко Марія Петрівна (1930)"
		//- },
		//- {
		//- 	"value": "289",
		//- 	"text": "Старокожко Р.Д. (невід.)"
		//- },
		//- {
		//- 	"value": "218",
		//- 	"text": "Столова Олена Юхимівна (1911)"
		//- },
		//- {
		//- 	"value": "139",
		//- 	"text": "Судомоєва Надія Яківна (1909)"
		//- },
		//- {
		//- 	"value": "112",
		//- 	"text": "Сумцова М. Г. (невід.)"
		//- },
		//- {
		//- 	"value": "243",
		//- 	"text": "Супрун Євдокія Романівна (1919)"
		//- },
		//- {
		//- 	"value": "323",
		//- 	"text": "Сурженко Віра Володимирівна (1951)"
		//- },
		//- {
		//- 	"value": "57",
		//- 	"text": "Сухіна Олександр Андрійович (1926)"
		//- },
		//- {
		//- 	"value": "319",
		//- 	"text": "Тішакова Тетяна Миколаївна (1955)"
		//- },
		//- {
		//- 	"value": "143",
		//- 	"text": "Танцюра Гаврила Іванович (1928)"
		//- },
		//- {
		//- 	"value": "101",
		//- 	"text": "Таран Любов Олексіївна (невід.)"
		//- },
		//- {
		//- 	"value": "287",
		//- 	"text": "Таран М.М. (1936)"
		//- },
		//- {
		//- 	"value": "278",
		//- 	"text": "Тимошенко М.Ф. (1936)"
		//- },
		//- {
		//- 	"value": "169",
		//- 	"text": "Тимченко Меланія Кузьмівна (1921)"
		//- },
		//- {
		//- 	"value": "417",
		//- 	"text": "Титарева Тетяна Михайлівна (1929)"
		//- },
		//- {
		//- 	"value": "148",
		//- 	"text": "Титаренко Ольга Федорівна (1937)"
		//- },
		//- {
		//- 	"value": "375",
		//- 	"text": "Ткаченко Анастасія Василівна (1918)"
		//- },
		//- {
		//- 	"value": "406",
		//- 	"text": "Ткаченко Катерина Петрівна (1941)"
		//- },
		//- {
		//- 	"value": "419",
		//- 	"text": "Ткаченко Лідія Тихонівна (1933)"
		//- },
		//- {
		//- 	"value": "387",
		//- 	"text": "Ткаченко Поліна Олександрівна (1929)"
		//- },
		//- {
		//- 	"value": "125",
		//- 	"text": "Ткачова Олександра Федорівна (1935)"
		//- },
		//- {
		//- 	"value": "129",
		//- 	"text": "Товстокора Марія Михайлівна (1916)"
		//- },
		//- {
		//- 	"value": "130",
		//- 	"text": "Товстокорий Йосип Сергійович (1916)"
		//- },
		//- {
		//- 	"value": "48",
		//- 	"text": "Толкачова Катерина Василівна (1928)"
		//- },
		//- {
		//- 	"value": "128",
		//- 	"text": "Тонка Меланія Митрофанівна (~1925)"
		//- },
		//- {
		//- 	"value": "186",
		//- 	"text": "Точка Ольга Іванівна (1914)"
		//- },
		//- {
		//- 	"value": "167",
		//- 	"text": "Турба Сергій Андрійович (1926)"
		//- },
		//- {
		//- 	"value": "190",
		//- 	"text": "Удянська Катерина Максимівна (1923)"
		//- },
		//- {
		//- 	"value": "191",
		//- 	"text": "Удянська Тетяна Трохимівна (1929)"
		//- },
		//- {
		//- 	"value": "310",
		//- 	"text": "Учасники фольклорного 4у \"Журавка\" СБК"
		//- },
		//- {
		//- 	"value": "263",
		//- 	"text": "Федченко Прасковія Іванівна (1941)"
		//- },
		//- {
		//- 	"value": "36",
		//- 	"text": "Фесенко Анастасія Іванівна (1924)"
		//- },
		{
			"value": "430",
			"text": "Фетісова Анастасія Василівна (1930)"
		},
		{
			"value": "173",
			"text": "Фольклорний 4 РБК, керівник Каширова В.Є."
		},
		{
			"value": "133",
			"text": "Фоміна К.А. (1926)"
		},
		{
			"value": "12",
			"text": "Фомяченко Раїса Іванівна (1940)"
		},
		{
			"value": "320",
			"text": "Франц Альфія Кавєєвна (1961)"
		},
		{
			"value": "58",
			"text": "Хижняк Ганна Петрівна (1918)"
		},
		//- {
		//- 	"value": "144",
		//- 	"text": "Ходарьова Наталія Павлівна (1918)"
		//- },
		//- {
		//- 	"value": "76",
		//- 	"text": "Христосова Євдокія Пилипівна (1940)"
		//- },
		//- {
		//- 	"value": "389",
		//- 	"text": "Цибульник Зінаїда Олександрівна (1941)"
		//- },
		//- {
		//- 	"value": "13",
		//- 	"text": "Чеканова Валентина Миколаївна (1940)"
		//- },
		//- {
		//- 	"value": "61",
		//- 	"text": "Чепеленко (невід.)"
		//- },
		//- {
		//- 	"value": "51",
		//- 	"text": "Чернущенко Ольга Михайлівна (1943)"
		//- },
		//- {
		//- 	"value": "94",
		//- 	"text": "Чирка О. Д. (невід.)"
		//- },
		//- {
		//- 	"value": "23",
		//- 	"text": "чоловік Килини Михайлівни (невід.)"
		//- },
		//- {
		//- 	"value": "426",
		//- 	"text": "Чомбитько Марфа Василівна (1909)"
		//- },
		//- {
		//- 	"value": "257",
		//- 	"text": "Чуб Катерина Сидорівна (1920)"
		//- },
		//- {
		//- 	"value": "425",
		//- 	"text": "Чугай Уляна Григорівна (1921)"
		//- },
		//- {
		//- 	"value": "119",
		//- 	"text": "Чуль Г.К. (невід.)"
		//- },
		//- {
		//- 	"value": "321",
		//- 	"text": "Чурілова Антоніна Степ. (1940)"
		//- },
		//- {
		//- 	"value": "294",
		//- 	"text": "Чухно Надія Андріївна (1941)"
		//- },
		//- {
		//- 	"value": "376",
		//- 	"text": "Шабалтас Марія Єгорівна (1937)"
		//- },
		//- {
		//- 	"value": "60",
		//- 	"text": "Шабленко (невід.)"
		//- },
		//- {
		//- 	"value": "11",
		//- 	"text": "Шаманенко Ганна Федорівна (1919)"
		//- },
		//- {
		//- 	"value": "84",
		//- 	"text": "Шаповал Марія Федосіївна (1927)"
		//- },
		//- {
		//- 	"value": "27",
		//- 	"text": "Шапран Марія Гаврилівна (1918)"
		//- },
		//- {
		//- 	"value": "28",
		//- 	"text": "Шапран Михайло Гаврилович (1925)"
		//- },
		//- {
		//- 	"value": "455",
		//- 	"text": "Швайко Лідія Федорівна (1943)"
		//- },
		//- {
		//- 	"value": "9",
		//- 	"text": "Швачка Парасковія Євсеївна (1923)"
		//- },
		//- {
		//- 	"value": "381",
		//- 	"text": "Швидка Оксана Пименівна (1912)"
		//- },
		//- {
		//- 	"value": "203",
		//- 	"text": "Шевченко А. В. (невід.)"
		//- },
		//- {
		//- 	"value": "234",
		//- 	"text": "Шевченко Катерина Кузьмівна (1933)"
		//- },
		//- {
		//- 	"value": "219",
		//- 	"text": "Шелест Ганна Микитівна (1915)"
		//- },
		//- {
		//- 	"value": "295",
		//- 	"text": "Шеремет Ніна Федорівна (1936)"
		//- },
		//- {
		//- 	"value": "30",
		//- 	"text": "Шкиря Марія Іванівна (~1928)"
		//- },
		//- {
		//- 	"value": "131",
		//- 	"text": "Шолудькова Марія Трифонівна (1904)"
		//- },
		//- {
		//- 	"value": "114",
		//- 	"text": "Шулакова О.А. (невід.)"
		//- },
		//- {
		//- 	"value": "388",
		//- 	"text": "Шумєєва Катерина Іванівна (1929)"
		//- },
		//- {
		//- 	"value": "102",
		//- 	"text": "Шутько Л.Д. (невід.)"
		//- },
		//- {
		//- 	"value": "456",
		//- 	"text": "Юрченко Оксана Іванівна (1953)"
		//- },
		//- {
		//- 	"value": "309",
		//- 	"text": "Ярмак Іван Володимирович (1939)"
		//- },
		//- {
		//- 	"value": "155",
		//- 	"text": "​Лещенко Ганна Арсентіївна (1917)"
		//- },
		//- {
		//- 	"value": "300",
		//- 	"text": "… Параска Гнатовна (невід.)"
		//- }
	]


-
	var defaultTimelineData = {
		type: 'num',
		title: 'h3',
		titleClass: 'h4',
		items: [
		]
	}

-
	var headerClass = '';
	var layoutClass = '';
	var headerType = 'default';


//- helpers functions
//- -
//- 	const _data = function ($key) {
//- 		return require(`../../../../data/${$key}.json`)
//- 	};


-
	const cyrb53 = function(str, seed = 0) {
		let h1 = 0xdeadbeef ^ seed, h2 = 0x41c6ce57 ^ seed;
		for (let i = 0, ch; i < str.length; i++) {
			ch = str.charCodeAt(i);
			h1 = Math.imul(h1 ^ ch, 2654435761);
			h2 = Math.imul(h2 ^ ch, 1597334677);
		}
		h1 = Math.imul(h1 ^ (h1>>>16), 2246822507) ^ Math.imul(h2 ^ (h2>>>13), 3266489909);
		h2 = Math.imul(h2 ^ (h2>>>16), 2246822507) ^ Math.imul(h1 ^ (h1>>>13), 3266489909);
		return 4294967296 * (2097151 & h2) + (h1>>>0);
	};
-
	const generateUniqueHash = function() {
		return Math.random().toString(36).substring(2, 10);
	}
-
	const getRandomArbitrary = function(min, max){
		return Math.floor(Math.random() * (max - min) + min);
	}



//- local variables
block variables

doctype html
html(lang= $LOCALE)
	head
		meta(charset='utf-8')
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(content="telephone=no" name="format-detection")
		meta(name="HandheldFriendly" content="true")
		+meta()
		+favicon()

		//- link(rel='stylesheet' href=pathPrefix + 'css/main.css')

		block head

		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer")

	body.body
		.layout(class=pageClass)
			.layout__header
				if headerVisible
					+header(headerType)
				block header
			.layout__main(class=layoutClass)
				//- +dayNight()
				block content
				+toTopBtn()
			.layout__footer
				if footerVisible
					+footer()
				block footer

		block modals

		+lazyImgLoader()
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script(
			src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"
		)
		script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer")

		//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJFBc9PqrYjxoXQD3bJ6C0q3DQUz7_-sY", defer)
		//- script(src=pathPrefix + 'js/vendors.js')
		//- script(src=pathPrefix + 'js/main.js')
		block script
