include ../mixins/index
include ../components/index

-
	var PLACES = [
			" м. Ізюм, Ізюмський район",
			" м. Балаклія, Балаклійський район",
			" Новий Бурлук, Чугуївський район",
			" с. Іванівка, Ізюмський район",
			" с. Іванівка, Чаплинський район",
			" с. Абазівка, Зачепилівський район",
			" с. Артемівка, Чугуївський район",
			" с. Багата Чернещина, Сахновщинський район",
			" с. Балтазарівка, Чаплинський район",
			" с. Басове, Золочівський район",
			" с. Березівка, Борисівський район ",
			" с. Берестовенька, Красноградський район",
			" с. Будне, Охтирський район",
			" с. Бузове (Перша Бузова), Вовчанський район",
			" с. Вʼязова, Краснокутський район",
			" с. Варварівка, Бєлгородський район",
			" с. Велика Гомільша, Зміївський район",
			" с. Вишневе, Валківський район",
			" с. Гасенки, Миргородський район",
			" с. Геніївка, Зміївський район",
			" с. Гетьманівка, Шевченківський район",
			" с. Гракове, Чугуївський район",
			" с. Грузьке, Борисівський район",
			" с. Грушуваха, Барвінківський район",
			" с. Дворічне, Дворічанський район",
			" с. Дворічний Кут, Дергачівський район",
			" с. Деревки, Котелевський район",
			" с. Дмитрівка, Первомайський район",
			" с. Добровілля, Близнюківський район",
			" с. Добропілля, Валківський район",
			" с. Дорошівка, Дворічанський район",
			" с. Другий Лиман, Дворічанський район",
			" с. Духовниче, Охтирський район",
			" с. Жовтневе (Богданівське), Дворічанський район",
			" с. Задонецьке, Зміївський район",
			" с. Залиман, Балаклійський район",
			" с. Калинове, Борівський район",
			" с. Катеринівка, Лозівський район",
			" с. Киселі, Первомайський район",
			" с. Клюшниківка, Миргородський район",
			" с. Козача Лопань, Дергачівський район",
			" с. Корбині Івани, Богодухівський район",
			" с. Костянтинівка, Сахновщинський район",
			" с. Кручик, Богодухівський район",
			" с. Крячківка, Пирятинський район",
			" с. Куземин, Охтирський район",
			" с. Кунцеве, Новосанжарський район",
			" с. Кутьківка, Дворічанський район",
			" с. Лантратівка, Охтирський район",
			" с. Лиман, Зміївський район",
			" с. Лиман, кут Кучерівка, Зміївський район",
			" с. Любимівка Каховський район",
			" с. Лютенські Будища, Зіньківський район",
			" с. Максимівка, Сахновщинський район",
			" с. Матяшівка, кут Кут, Великобагачанський район ",
			" с. Матяшівка, кут Ліски, Великобагачанський район",
			" с. Матяшівка, кут Центр, Великобагачанський район ",
			" с. Мельникове, Валківський район",
			" с. Мечнікове, Дворічанський район",
			" с. Миколаївка, Дворічанський район",
			" с. Миколаївка, Лозівський район",
			" с. Михайлівка, Котелевський район",
			" с. Моначинівка, Куп'янський район",
			" с. Морозівка, Балаклійський район",
			" с. Мохнач, Зміївський район",
			" с. Нова Чернещина, Сахновщинський район",
			" с. Новий Мерчик, Валківський район",
			" с. Новомиколаївка Шевченківський район",
			" с. Огіївка, Сахновщинський район",
			" с. Одноробівка, Золочівський район",
			" с. Одрадне, Дворічанський район",
			" с. Олександрівка, Валківський район",
			" с. Очеретове, Валківський район",
			" с. Очкине, Середино-Будський район",
			" с. Піски-Радьківські, Борівський район",
			" с. Петрівське (Петровское), Балаклійський район",
			" с. Петропілля, Лозівський район",
			" с. Плоске, Великобурлуцький район",
			" с. Польова, Дергачівський район",
			" с. Правда (Комправда), Первомайський район",
			" с. Рачівка, Чаплинський район",
			" с. Рубани, Охтирський район",
			" с. Рябина, Великописарівський район",
			" с. Сковородинівка, Золочівський район",
			" с. Скрипаї, Зміївський район",
			" с. Софіївка Каховський район",
			" с. Стригуни, Борисівський район",
			" с. Строганівка, Чаплинський район",
			" с. Тавільжанка, Дворічанський район",
			" с. Терни, Лубенський район",
			" с. Тернова (Терновая), Харківський район",
			" с. Тернуватка, Сахновщинський район",
			" с. Устивиця, Великобагачанський район",
			" с. Хотмизьк, Борисівський район",
			" с. Чемужівка, Зміївський район",
			" с. Чепіль, Балаклійський район",
			" с. Черкаська Лозова, Харківський район",
			" с. Чернещина, Краснокутський район",
			" с. Шарівка, Валківський район",
			" с. Шелудьківка, Зміївський район",
			" с. Яковенкове, Балаклійський район",
			" с. Ясенове, Охтирський район",
			" сел. Велика Данилівка, м. Харків",
			" сел. Печеніги, Чугуївський район",
			" смт Гоголеве, Великобагачанський район",
			" смт Гоголеве, хутір Марченки, Великобагачанський район ",
			" смт Дворічна, Дворічанський район",
			" смт Котельва, Котелевський район",
			" смт Краснокутськ, Краснокутський район",
			" смт Чкаловське, Чугуївський район"
		]

//- global variables
-
	var pathPrefix = 'assets/';
	var description = 'Description';
	var pageClass = '';
	var pageName = '';
	var $LOCALE = 'ua';
	var title = 'ProjectName';
	var headerVisible = true;
	var footerVisible = true;


-
	var defaultTimelineData = {
		type: 'num',
		title: 'h3',
		titleClass: 'h4',
		items: [
		]
	}




//- helpers functions
//- -
//- 	const _data = function ($key) {
//- 		return require(`../../../../data/${$key}.json`)
//- 	};


-
	const cyrb53 = function(str, seed = 0) {
		let h1 = 0xdeadbeef ^ seed, h2 = 0x41c6ce57 ^ seed;
		for (let i = 0, ch; i < str.length; i++) {
			ch = str.charCodeAt(i);
			h1 = Math.imul(h1 ^ ch, 2654435761);
			h2 = Math.imul(h2 ^ ch, 1597334677);
		}
		h1 = Math.imul(h1 ^ (h1>>>16), 2246822507) ^ Math.imul(h2 ^ (h2>>>13), 3266489909);
		h2 = Math.imul(h2 ^ (h2>>>16), 2246822507) ^ Math.imul(h1 ^ (h1>>>13), 3266489909);
		return 4294967296 * (2097151 & h2) + (h1>>>0);
	};
-
	const getRandomArbitrary = function(min, max){
		return Math.floor(Math.random() * (max - min) + min);
	}



//- local variables
block variables

doctype html
html(lang= $LOCALE)
	head
		meta(charset='utf-8')
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(content="telephone=no" name="format-detection")
		meta(name="HandheldFriendly" content="true")
		+meta()
		+favicon()

		//- link(rel='stylesheet' href=pathPrefix + 'css/app.css')

		block head

		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer")

	body.body
		.layout(class=pageClass)
			.layout__header
				if headerVisible
					+header()
				block header
			.layout__main
				//- +dayNight()
				main
					block content
				+toTopBtn()
			.layout__footer
				if footerVisible
					+footer()
				block footer

		block modals

		+lazyImgLoader()
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script(
			src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"
		)
		script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")

		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer")

		//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJFBc9PqrYjxoXQD3bJ6C0q3DQUz7_-sY", defer)
		//- script(src=pathPrefix + 'js/vendors.js')
		//- script(src=pathPrefix + 'js/app.js')
		block script
